<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <form #f="ngForm" (ngSubmit)="onSubmit(f)">
        <div id="user-data">
          <div class="form-group">
            <label for="username">Username</label>
            <input
              class="form-control"
              id="username"
              name="username"
              ngModel
              required
              type="text">
          </div>
          <button class="btn btn-default" type="button">Suggest an Username</button>
          <div class="form-group">
            <label for="email">Mail</label>
            <input
              #email="ngModel"
              class="form-control"
              email
              id="email"
              name="email"
              ngModel
              required
              type="email">
          </div>
        </div>
        <span class="help-block" *ngIf="!email.valid && email.touched">Please enter a valid email!</span>
        <div class="form-group">
          <label for="secret">Secret Questions</label>
          <select
            class="form-control"
            id="secret"
            name="secret"
            ngModel>
            <option value="pet">Your first Pet?</option>
            <option value="teacher">Your first teacher?</option>
          </select>
        </div>
        <button
          [disabled]="!f.valid"
          class="btn btn-primary"
          type="submit">Submit
        </button>
      </form>
    </div>
  </div>
</div>
