<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <button
        class="btn btn-primary"
        (click) = "toggleDisplayStatus()">
        Display Details</button>
      <p *ngIf = "displayStatus">This paragraph is not always displayed!</p>
      <p 
        *ngFor = "let log of buttonClickLogArray; let i = index"
        [ngStyle] = "{ backgroundColor: (i >= 4) ? 'blue' : 'white'}"
        [ngClass] = "{ count5: i >= 4 }">
        {{ log }}</p>
    </div>
  </div>
</div>
