<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <button
        class="btn btn-primary"
        (click) = "toggleDisplayStatus()">
        Display Details</button>
      <p *ngIf = "displayStatus">This paragraph is not always displayed!</p>
      <p 
        *ngFor = "let log of buttonClickLogArray"
        [ngStyle] = "{ backgroundColor: (buttonClickLogArray.length > 4) ? 'blue' : 'white'}"
        [ngClass] = "{ count5: count > 4 }">
        {{ buttonClickLogArray }}</p>
    </div>
  </div>
</div>
